.BadgeEdit__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/start.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;

    display: flex;
    justify-content: center;
}
.BadgeEdit__hero-img{
    max-height: 125px;
}